body {
  font-family: Roboto, sans-serif;
}
blockquote {
  margin: 0;
  padding: 8px;
  border-left: 5px solid #333;

}
article {
  width: 90%;
  margin: auto;
}
h1
{
  text-align: center;
}
li{
  padding: 5px;
}

.resizable-container {
  display: flex;
  flex-direction: column;

}

img{
  padding: 10px;
}
html
{
  background-color: #eeeeee;
}
